ANTHROPIC_API_KEY=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
PORT=3001
FRONTEND_URL=http://localhost:3000
MONGODB_URI=mongodb+srv://bhavikapatel:bhavikaaigurukul@cluster0.crq390b.mongodb.net/?appName=Cluster0
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
JWT_SECRET=gurukul_secret_key_123

